.control-panel {
  display: flex;
  flex-direction: column;
}
.control-panel-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.status-text {
  text-align: center;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}